
<div class="card flex justify-center">
    <p-button (click)="showDialog()" label="Show" />
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <form [formGroup]="folderForm" (ngSubmit)="onSubmit()">
            <span class="p-text-secondary block mb-8">Create folder.</span>
            <div class="flex items-center gap-4 mb-4">
                <label for="folderName" class="font-semibold w-24">Folder Name</label>
                <input pInputText id="folderName" formControlName="folderName" class="flex-auto" autocomplete="off" />
            </div>

            <p-button type="submit">Submit</p-button>
        </form>
    </p-dialog>
</div>